/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
a {
    text-decoration: none;
}
h1,h2 {
    color: whitesmoke;
    font-weight: blod;
}
ul {
    list-style: none;
}
section {
    width: 100%;
    /* height: 100vh; */
    display: flex;
}
span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* Header */
.head {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one {
    background: url('./pexels-photo-453201.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
.two {
    background: url('./pexels-photo-941861.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
.three {
    background: url('./pexels-photo-261108.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
.four {
    background: url('./pexels-photo-9521496.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

/* Navigation */
.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.navbar .logo {
    padding-left: 40px;
    line-height: 0.9em;
    align-items: center;
}
.navbar .logo a {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
}
.navbar .nav-links ul {
    display: flex;
}
.navbar .nav-links ul li a {
    padding: 0 20px;
    color: whitesmoke;
}
.navbar .nav-links .active {
    text-decoration: underline;
    color: #03dffc;
}
.navbar .btn a {
    color: whitesmoke;
    background-color: #03dffc;
    padding: 8px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: bold;
    margin-right: 100px;
}
.navbar .toggle {
    position: absolute;
    top: 1.2rem;
    right: 5px;
    color: whitesmoke;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* Head-Content */
.head-content {
    width: 100%;
    text-align: center;
}
.head-content h2 {
    padding: 10px;
    margin-top: 60px;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}
.head-content .line {
    width: 150px;
    height: 5px;
    margin: 2px auto;
    background-color: #03dffc;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.head-content h1 {
    font-size: 50px;
    padding: 10px;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}
.head-content .btn a {
    color: whitesmoke;
    background-color: #03dffc;
    padding: 8px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: bold;
}

/* Intro Section */
.intro {
    width: 100%;
    padding: 100px;
    display: flex;
    background-color: rgb(248, 245, 245);
    border: 1px solid rgb(229, 226, 226);
}
.intro .intro-left {
    width: 60%;
    height: 100vh;
    border: 1px solid rgb(229, 226, 226);
    padding: 10px;
    background-color: white;
}
.intro .intro-left h4 {
    font-weight: 1;
    padding: 10px 0 0 10px;
    letter-spacing: 1em;
}
.intro .intro-left h3 {
    font-size: 50px;
    font-weight: 600;
    padding-left: 10px;
}
.intro .intro-left .line {
    width: 150px;
    height: 2px;
    margin: 50px 10px;
    background-color: #03dffc;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.intro .intro-left .description {
    padding: 0px 10px 50px 10px;
    line-height: 1.5rem;
}
.intro .intro-left .btn a {
    color: whitesmoke;
    background-color: #03dffc;
    padding: 8px;
    margin: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: bold;
}
.intro .intro-left hr {
    margin: 70px 0;
}
.intro .intro-left .feat-title {
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
}
.intro .intro-left .features p {
    font-weight: 1;
}
.intro .intro-left .features {
    display: flex;
}
.intro .intro-left .features .cancellation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.intro .intro-left .features .cancellation i {
    font-size: 50px;
    padding: 5px;
}
.intro .intro-left .features .guarantee {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.intro .intro-left .features .guarantee i {
    font-size: 40px;
    padding: 5px;
}
.intro .intro-left .features .safe {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.intro .intro-left .features .safe i {
    font-size: 40px;
    padding: 5px;
}
.intro .intro-right {
    width: 40%;
    height: 90vh;
    background: url('./pexels-photo-1598546.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

/* Stay Section */
.stay {
    width: 100%;
    padding: 50px 0px;
}
.stay h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 1;
    padding: 15px;
}
.stay .stay-content {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url('./pexels-photo-10099317.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
.stay .stay-content .stay-content-left {
    width: 70%;
    padding: 350px 50px;
}
.stay .stay-content .stay-content-left h3 {
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: 1;
}
.stay .stay-content .stay-content-left .line {
    width: 150px;
    height: 2px;
    margin-left: 18px;
    background-color: #03dffc;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.stay .stay-content .stay-content-left p {
    padding: 40px 0px 20px 15px;
    line-height: 1.4em;
}
.stay .stay-content .stay-content-left .btn a {
    color: whitesmoke;
    background-color: #03dffc;
    padding: 8px;
    margin-left: 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: bold;
}
.stay .stay-content .stay-content-right {
    width: 30%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}
.stay .stay-content .stay-content-right ul li {
    padding: 10px;
}
.stay .stay-content .stay-content-right ul li a {
    color: rgb(0, 0, 0);
}

/* Facilities */
.facilities {
    width: 100%;
    padding: 80px;
    
}
.facilities h4 {
    text-align: center;
    font-size: 40px;
    font-weight: 1;
    padding-bottom: 40px;
}
.facilities .facilities-content div {
    width: 40%;
    margin: 0px 20px;
}
.facilities .facilities-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(245, 241, 241);
    border: 1px solid rgb(229, 226, 226);
}
.facilities .facilities-content .facilities-content-list {
    flex: 1 1 200px;
    text-align: center;
    padding: 20px;
}
.facilities .facilities-content .facilities-content-list img {
    width: 450px;
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
}
.facilities .facilities-content .facilities-content-list h3 {
    padding: 20px 0px;
}
.facilities .facilities-content .facilities-content-list .btn {
    width: 100%;
    margin: 10px auto;
}
.facilities .facilities-content .facilities-content-list .btn a {
    color: rgb(0, 0, 0);
    padding: 8px;
    border-bottom: 2px solid #03dffc;
    font-size: 13px;
}

/* Offers */
.facilities #sub-title {
    font-size: 30px;
}
.facilities #offers {
    background-color: white;
}
.facilities .facilities-content .facilities-content-list p {
    padding: 10px;
}
.accomadation {
    width: 100%;
    padding: 50px 100px;
}
.accomadation h3 {
    font-size: 30px;
    font-weight: 1;
    padding: 20px 0px;
}
.accomadation .accomadation-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px -20px;
}
.accomadation .accomadation-content .accomadation-content-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 1px solid rgb(229, 226, 226);
    text-align: left;
    background-color: rgb(245, 241, 241);
}
.accomadation .accomadation-content .accomadation-content-box .accomadation-content-box-img {
    width: 100%;
    height: 200px;
}
.accomadation .accomadation-content .accomadation-content-box #img-01 {
    background: url('./Mobile-Offer-HK.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.accomadation .accomadation-content .accomadation-content-box #img-02 {
    background: url('./Member-Offer-HK.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.accomadation .accomadation-content .accomadation-content-box #img-03 {
    background: url('./Honeymoon-Offer.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.accomadation .accomadation-content .accomadation-content-box .accomadation-content-text {
    width: 100%;
    padding: 30px;
} 
.accomadation .accomadation-content .accomadation-content-box .accomadation-content-text h4 {
    padding: 20px 0px;
    font-size: 20px;
    font-weight: 1;
}
.accomadation .accomadation-content .accomadation-content-box .accomadation-content-text p {
    padding: 20px 0px;
    line-height: 1.2em;
    font-weight: 1;
}
.accomadation .accomadation-content .accomadation-content-box .accomadation-content-btn {
    padding: 20px 0px;
}
.accomadation .accomadation-content .accomadation-content-box .accomadation-content-btn a {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    color: #c4c4c4;
    font-weight: 1;
}

/* Contact */
.contact-content {
    width: 100%;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-content h3 {
    font-size: 40px;
    padding: 50px 0px;
}
.contact-content .contact-content-way {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid rgb(229, 226, 226);
}
.contact-content .contact-content-way .way {
    width: 50%;
    padding: 0px 40px;
}
.contact-content .contact-content-way #way-01 {
    border-right: 1px solid rgb(229, 226, 226);
    padding-left: 250px;
}
.contact-content .contact-content-way .way p {
    padding: 10px 20px;
}
.contact-content .contact-content-para {
    width: 100%;
    padding: 50px 0px;
}
.contact-content .contact-content-para p {
    line-height: 1.3em;
}
.contact-content .contact-content-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(229, 226, 226);
    padding: 40px 100px;
}
.contact-content .contact-content-input .input {
    width: 100%;
    padding: 20px;
}
.contact-content .contact-content-input .input p {
    padding: 5px;
}
.contact-content .contact-content-input .input input {
    margin-left: 5px;
    padding: 5px 200px;
}
.contact-content .contact-content-input .email-phone {
    display: flex;
}
.contact-content .contact-content-input .email-phone .contact-01 {
    width: 50%;
}
.contact-content .contact-content-input .email-phone .contact-01 input {
    padding: 5px 50px;
}
.contact-content .contact-content-input .input textarea {
    margin-left: 5px;
    padding: 5px 200px;
}
.contact-content .contact-content-input .react {
    display: flex;
    align-items: center;
}
.contact-content .contact-content-input .react #okay {
    color: whitesmoke;
    background-color: #03dffc;
    padding: 8px 40px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    font-size: bold;
}
.contact-content .contact-content-input .react .btn a {
    padding: 7px 10px;
    margin-left: 10px;
    color: #000000;
    text-align: center;
}


/* Bottom */
.bottom {
    width: 100%;
    padding-top: 70px;
}
.bottom .bottom-content {
    width: 100%;
    height: 100vh;
    background: url('./pexels-photo-723241.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.bottom .bottom-content .bottom-logo {
    width: 15%;
    height: 185px;
    margin: 0px 80px 40px 0px;
    background-color: red;
    background: url('./70x106.png') no-repeat;
    background-size: 80px;
    background-position: center;   
}
.bottom .bottom-content .bottom-links-01 {
    width: 10%;
    margin: 0px 50px 80px 0px;   
}
.bottom .bottom-content .bottom-links-02 {
    width: 10%;
    margin: 0px 50px 80px 0px; 
}
.bottom .bottom-content ul li {
    padding: 5px 0px;
}
.bottom .bottom-content a {
    color: whitesmoke;
}
.bottom .bottom-content .bottom-details {
    width: 20%;
    height: 185px;
    margin: 0px 50px 80px 0px;
    padding: 50px 0px; 
}
.bottom .bottom-content .bottom-details .address {
    margin-bottom: 10px;
}
.bottom .bottom-content .bottom-details .bottom-details-phone,.bottom-details-email {
    padding: 10px 0px;
}
.bottom .bottom-content .bottom-details i {
    font-size: 25px;
    color: whitesmoke;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}
.bottom .bottom-content .bottom-details .bottom-details-phone a,.bottom-details-email a {
    padding: 0px 5px;
}
.bottom .bottom-content .bottom-input {
    width: 20%;
    height: 185px;
    margin: 0px 50px 80px 0px;
    padding: 50px 0px;
}
.bottom .bottom-content .bottom-input h4 {
    color: whitesmoke;
    padding-bottom: 15px;
    font-size: 18px;
}
.bottom .bottom-content .bottom-input input {
    padding: 10px 30px 10px 10px;
}
.bottom .bottom-content .bottom-input .bottom-input-icon {
    width: 100%;
    display: flex;
}
.bottom .bottom-content .bottom-input .bottom-input-icon div {
    padding: 10px 5px;
}
.bottom .bottom-content .bottom-input .bottom-input-icon div i {
    color: whitesmoke;
    font-size: 25px;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
}
.foot-content {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}
.foot-content .left,.right {
    padding: 0px 10px;
}
.foot-content .left,.right p {
    font-size: 13px;
    color: whitesmoke;
}

/* Animation */
.head .navbar .nav-links a:hover {
    color: #03dffc;
}
.head .navbar
.btn a:hover {
    background-color: whitesmoke;
    color: #03dffc;
    box-shadow: 3px 3px 10px #00000056;
}
.head .head-content 
.btn a:hover {
    background-color: whitesmoke;
    color: #03dffc;
    box-shadow: 3px 3px 10px #00000056;
}
.intro .intro-left .btn a:hover {
    background-color: whitesmoke;
    color: #03dffc;
    box-shadow: 3px 3px 5px #00000056;
    border: 1px;
}
.stay .stay-content .btn a:hover {
    background-color: whitesmoke;
    color: #03dffc;
    box-shadow: 3px 3px 5px #00000056;
    border: 1px;
}
.facilities .facilities-content .facilities-content-list .btn a:hover {
    border-bottom: 4px solid #03dffc;
    font-weight: bold;
}
.bottom .bottom-content .bottom-input .bottom-input-icon i:hover {
    color: #03dffc;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.bottom .bottom-content .bottom-details i:hover {
    color: #03dffc;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.facilities .facilities-content .facilities-content-list img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.head .head-content h2:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.head .head-content h1:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.accomadation .accomadation-content .accomadation-content-box .accomadation-content-btn a:hover {
    color: whitesmoke;
    background-color: #000000;
}
.contact-content .contact-content-input .input .btn a:hover {
    color: whitesmoke;
    background-color: #000000;
}

/* Responsive */
@media only screen and (max-width:700px){
    .navbar .toggle {
        display: block;
    }
}